
title: DPSOLVE 2026
description: >-
  Workshop on Models and Solvers for Dynamic Programming.
  Affiliated with the FLoC 2026 conference in Lisbon, Portugal.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://dpsolve26.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# files' path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Navigation
navigation:
  - { name: "Home", url: "/" }
  - { name: "Call for Papers", url: "/cfp" }
  - { name: "Submission", url: "/submission" }
  - { name: "Program", url: "/program" }
  - { name: "Organization", url: "/organization" }
