---
---

@import "minima";

// Override Minima's styles
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
}

.site-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-header {
    border-top: 5px solid #3A6B8F; // Deeper Blue
    border-bottom: 1px solid #e8e8e8;
}

.page-link, a {
    color: #E0B45E; // Rich Ochre
}

.page-link:not(:last-child) {
    margin-right: 20px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-list, .social-media-list {
    list-style: none;
    margin-left: 0;
}

.banner {
    height: 150px;
    background: linear-gradient(to right, #3A6B8F, #E0B45E);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
